body {
    background-color: rgb(150, 150, 150);
}


table, td, th {
    border: 1px solid black;
}

td, th {
    text-align: left;
    vertical-align: middle;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr:hover td span{
    color: white;
    background-color: black;
}


.bg-danger-light {
    --bs-bg-opacity: 0.3;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
    --bs-table-accent-bg:rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success-light {
    --bs-bg-opacity: 0.3;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    --bs-table-accent-bg:  rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
    --bs-table-accent-bg: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity))!important;
}

select {
    margin-top: 3px;
    margin-bottom: 3px;
}

.navlink{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.navlink:hover {
    color: rgba(200, 200, 0, 1);
}

#plannerTable tr td input[type=number]{
    width: 90px;
    height: auto;
}

ul.error {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

ul.error li {
    padding-left: 1rem;
    text-indent: -0.7rem;
}

ul.error li::before {
    content: "❌ ";
}


.submit-center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

article {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    article {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 991.9px) {
    .navlink{
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 0px solid rgba(255, 255, 255, 0.8);
    }
}